<settings>
    <!-- Настройки зеркала для использования центрального репозитория Maven -->
    <mirrors>
        <mirror>
            <id>central</id>
            <mirrorOf>central</mirrorOf>
            <url>https://repo.maven.apache.org/maven2</url>
            <!-- Удален элемент <blocked>, так как он больше не нужен -->
        </mirror>
    </mirrors>

    <!-- Настройка профилей -->
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <!-- Определение активного профиля -->
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <!-- Прокси-сервер, если вам нужно подключаться через прокси -->
    <proxies>
        <proxy>
            <id>example-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.example.com</host>
            <port>8080</port>
            <username>proxyuser</username>
            <password>somepassword</password>
            <nonProxyHosts>www.google.com|*.example.com</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
